body {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
    background-color: black;
    box-shadow: 0 1px 8px #ddd;
}

.menu {
    display: flex;
    align-items: flex-start;     
    background: none;
    gap: 30px;
    text-decoration: none;
}

.item {
    font-size: 16px;
    text-decoration: none;
    
}
video {
    height: 800px;
}

section div {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, p {
color: white;
}

section div button {
    height: 30px;
    width: 80px;
    border: none;
    color: blue;
}































/* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: sans-serif;
    font-size: 16px;
}
nav {
    background: #222;
    padding: 0 15px;
}
a {
    color: white;
    text-decoration: none;
}
.menu,
.submenu {   
    list-style-type: none;
}
.logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
}
.item {
    padding: 10px;
}
.item.button {
    padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
    color: #ccc;
} */
